{% extends 'base.html' %}

{% block head %}
    <title>Insert Data</title>
{% endblock %}


{% block body %}

    <div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
            <center><h1>Insert Data</h1></center>
            <input type="text" class="form-control" name="pName" placeholder="Enter Product Name"><br>
            <input type="text" class="form-control" name="pPrice" placeholder="Enter Product Price"><br>
            <input type="text" class="form-control" name="pQuantity" placeholder="Enter Product quantity"><br>
            <small>Mfg*</small>
            <input type="date" class="form-control" name="pMfg"><br>
            <small>Exp*</small>
            <input type="date" class="form-control" name="pExp"><br>
            <center><button class="btn btn-primary">Insert Data</button></center>
</form>
        </div>


    </div>


    </div>


{% endblock %}