{% extends 'base.html' %}


{% block head %}
   <title>Login Here</title>
{% endblock %}

{% block body %}
    {% load crispy_forms_tags %}
    <br>
<div class="container">
<div class="row justify-content-center">
    <div class="col-6" style="border: 5px solid black;border-radius: 30px">
        <center><h2>Login Here</h2></center>
        <br>
        <form action="" method="post">
            {% csrf_token %}
        {{ form |crispy }}

        <center><button class="btn btn-primary">Login</button></center>
        <br>
        </form>
    </div>
</div>

</div>


{% endblock %}